// 取消外边距
html,
body,
#app {
    padding: 0;
    margin: 0;
    height: 100%;
}

.fade-right-enter-active,
.fade-right-leave-active {
    transition: opacity 0.5s;
    // 上下移动
}

.fade-right-enter,
.fade-right-leave-to {
    opacity: 0;
}

#nprogress .bar {
    background: rgb(221, 118, 34) !important;
}